/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #00aeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

h1 {
  margin-bottom: 2rem;
  color: #fff9f7;
}

.calc-body {
  border: 2px solid #fff9f7;
  background-color: #00aeed;
  width: 176px;
  height: 232px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}

.calc-display {
  border: none;
  height: 90px;
  text-align: right;
  padding-right: 8px;
  font-size: 20px;
  background-color: rgba(255, 249, 247, 0.5);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -45px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  padding: 4px;
  margin-top: 70px;
  margin-bottom: -70px;
}

.calc-button {
  border: none;
  border-radius: 4px;
  background-color: #fff9f7;
  font-size: 12px;
  color: #000000;
  height: 18px;
  transition: background-color 0.3s ease;
}

.calc-button:hover {
  background-color: rgba(255, 249, 247, 0.5);
  cursor: pointer;
}

.calc-clear-area {
  display: flex;
  justify-content: center;
  margin: 70px 0px;
}

.calc-clear {
  border: none;
  border-radius: 4px;
  background-color: #fff9f7;
  font-size: 13px;
  color: #000000;
  transition: background-color 0.3s ease;
  width: 73%;
  line-height: 15px;
}

.calc-clear:hover {
  background-color: rgba(255, 249, 247, 0.5);
  cursor: pointer;
}
